<div class="container-fluid" ng-controller="ViewMasterCtrl as master_ctrl">

    <div class="panel panel-primary">

        <div class="panel-heading">
            <h3 class="panel-title">Blocks</h3>
        </div>

        <div class="gallery">
            <div class="card" ng-repeat="block in master_ctrl.rawObjects">
                <a ng-href="#/viewBlock/{{block.hash}}"> </a>
                <h1>#{{block.height}}</h1>
                <!--Trim leading zeroes to stop the card growing too wide-->
                <h2>{{block.hash | trimLeadingZeroes}}</h2>

                <table>
                    <tr>
                        <td class="tableHeading">Date Created</td>
                        <td class="tableContent">{{(block.time*1000) | date:'dd/MM/yyyy HH:mm:ss'}}</td>
                    </tr>
                    <tr>
                        <td class="tableHeading">Transactions</td>
                        <td class="tableContent">{{block.n_tx}}</td>
                    </tr>
                    <tr>
                        <td class="tableHeading">Size (kB)</td>
                        <td class="tableContent">{{block.size/1000}}</td>
                    </tr>
                    <tr>
                        <td class="tableHeading">Bits</td>
                        <td class="tableContent">{{block.bits}}</td>
                    </tr>
                    <tr>
                        <td class="tableHeading">Total BTC</td>
                        <td class="tableContent">{{master_ctrl.getTotalOut(block) / 100000000;}} BTC</td>
                    </tr>
                </table>

            </div>
        </div>

       <div class="panel-footer">
           <button ng-click="master_ctrl.loadPrevious();">
               Previous
           </button>
       </div>
   </div>
</div>
